<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Moment3</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Moment3.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
                    <ul class="">
                         <li class="">
                            <a class="" asp-area="" asp-controller="Home" asp-action="Index">Startsida</a>
                        </li>
                        <li class="">
                            <a class="" asp-area="" asp-controller="Books" asp-action="Index">Böcker</a>
                        </li>
                        <li class="">
                            <a class="" asp-area="" asp-controller="Books" asp-action="Create">Lägg till</a>
                        </li>
                    </ul>
        </nav>
    </header>



    
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    

    <footer>
       <p>Av Oskar Sundström</p>
    </footer>

</body>
</html>
