@model Moment3.Models.Book

@{
    ViewData["Title"] = "Redigera bok";
}

<h2>Redigera bok</h2>

<form method="post" asp-action="Edit">

    <!--Skickar bokens Id,- behöver ej skrivas in -->
    <input type="hidden" asp-for="Id" />

    <!--Titel -->
    <div class="form-group">
        <label for="Title"><strong>Titel</strong></label>
        <input asp-for="Title" class="form-control" required />
    </div>

    <!--Författare method förskrivna värden från viewbag-->
    <div class="form-group">
        <label for="Authors"><Strong>Författare (kommaseparerade)</Strong></label>
        <input type="text" class="form-control" name="authors" value="@ViewBag.Authors" required/>
    </div>

    <!--Beskrivning-->
    <div class="form-group">
        <label for="Description"><strong>Handling</strong></label>
        <textarea asp-for="Description" class="form-control" required></textarea>
    </div>
    <!--Spara/avbryt -->
    <button type="submit" class="btn btn-primary">Spara</button>
    <a asp-action="Index" class="btn btn-secondary">Avbryt</a>
</form>