@{
    ViewData["Title"] = "Böcker";
}

@model List<Moment3.Models.Book>

<h2>@ViewData["Title"]</h2>

<table class="tableBooks">
    <thead>
        <tr style="background-color: #f0f0f0;">
            <th>Titel</th>
            <th>Information</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var book in Model)
        {//loopar igenom
         <tr>
             <td><a asp-action="Information" asp-route-id="@book.Id">@book.Title</a></td>
             <td><a asp-action="Information" asp-route-id="@book.Id" class="btn btn-info">Visa mer</a></td>
         </tr>
        }
    </tbody>
</table>