@{
    ViewData["Title"] = "Moment 3 - Entity Framework ";
}


<h2>@ViewData["Title"]</h2>

<div style="text-align: center;">
    <p><Strong>Uppgift 1</Strong></p>
    <p>En hemsida som visar en övrsikt över min boksamling, har full CRUD fdunktionalitet. Vid klick på mer info så visas all info om just den boken. </p>
</div>